.inputBox{
	height: 70px;   
	background: linear-gradient(to bottom, #131f30 50%, transparent 50%);
	
}

.input{
	box-sizing: border-box;
	width: 765px;
	height: 55px;
	padding: 15px;
	background: #ffffff;
	border: 3px solid #b2c4db;
	border-radius: 8px;
	font-family: 'Secular One', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 140%;
	color:#4e7ebd;

}

.input::placeholder{
	font-family: 'Secular One', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 140%;
	color:#7998c0;
}

.input:focus{
	outline: none;

}
